#search a:active {
  text-decoration: none;
}

a:link {
 text-decoration: none;
 color: #ff6666 ;
}

.artist-information {
  background-color: rgb(20, 20, 20);
  width: 85% !important;
  margin: 0 auto;
  border-radius: 8px;
  /*padding: 0 40px;*/
}

.artist-img {
  border-radius: 8px;
  overflow: hidden
}

.artist-img img {

}

.img-container {
    /*width: 90px;
    height: 90px;*/
    overflow: hidden;
    margin: 10px 0;
}
.img-container img {
    width: 100%;
}

.img-margin {
  margin: 10px 0;
  padding: 0 5px;
}
