@font-face {
	font-family: 'ShadedLarch';
	src: url('../fonts/ShadedLarch_PERSONAL_USE.ttf');
}

body {
  background-image: url("https://hd.unsplash.com/photo-1459749411175-04bf5292ceea");
  background-size: cover;
  background-attachment: fixed;
}


#brand {
  text-align: center;
  font-family: ShadedLarch;
  color: white;
  font-size: 7em;
}

h1 {
  text-shadow: 7px 3px 3px black;
}
.wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.spacer {
  height: 205px;
}


.details {
  width: 100%;
}
